<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
        <mat-toolbar>Menu</mat-toolbar>
        <ng-container *ngIf="hasUser">
            <mat-nav-list>
                <a
                  mat-list-item
                  href="#"><span class="material-icons icons">home</span>Startseite</a>
                <a
                  mat-list-item
                  (click)="router.navigateByUrl('/account')"><span class="material-icons icons">edit_calendar</span>Termin Buchen</a>
                <a
                  mat-list-item
                  href="#"><span class="material-icons icons">date_range</span>Terminübersicht</a>
                <a
                  mat-list-item
                  href="#"><span class="material-icons icons">vaccines</span>Nebenwirkungen</a>
            </mat-nav-list>
        </ng-container>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button
              type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>corona_FE_ANG</span>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
